@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f6f7;
    color: #3a3a3a;
}

.container {
    padding-top: 13vh;
    position: relative;
    z-index: 1;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.profile-photo-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    transition: filter 1s, transform 1s;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-photo.blurred {
    filter: blur(2px);
}

.profile-photo.shrink {
    transform: scale(1);
    transition: 0.1s;
}

.profile-name {
    font-size: 40px;
    font-family: 'Playfair Display', serif;
    color: #6b4f4f;
    background: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 15px;
    margin-top: 260px;
    position: relative;
    z-index: 1;
    text-shadow: none;
}

.profile-subtitle {
    font-size: 22px;
    padding: 10px;
    color: rgba(0, 0, 0, 0.678);
    margin-top: 10px;
}

.destino {
    font-size: 1.5em;
    color: black;
}

.options {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.option {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 20px auto 50px auto;
    box-shadow: none;
    text-align: center;
    position: relative;
    transition: transform 0.3s, border-color 0.3s;
    box-sizing: border-box;
    width: calc(100% - 20px);
    height: 400px; /* Ajuste conforme necessário */
}

.option.catalogo {
    background-image: url('../images/desktop/image4.png');
}

.option.curso1 {
    background-image: url('../images/desktop/image2.png');
}

.option.curso2 {
    background-image: url('../images/desktop/image1.png');
}

.option.agendamento {
    background-image: url('../images/desktop/image3.png;
}

.option.feedbacks {
    background-image: url('../images/desktop/feedbacks/feedbacks.jpg');
}

.option:hover {
    transform: scale(1.02);
}

.option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid #E86583;
    border-radius: 15px;
}

.section-title {
    font-size: 32px;
    font-family: 'Playfair Display', serif;
    color: #6b4f4f;
    margin: 60px 0;
    position: relative;
    text-align: center;
}

.section-title::before,
.section-title::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 15%;
    height: 1px;
    margin: 0% 7% 0% 7%;
    background-color: #6b4f4f;
    transform: translateY(-50%);
}

.section-title::before {
    left: 0;
}

.section-title::after {
    right: 0;
}

.button-container {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.action-button {
    background-color: #ffffff;
    color: #E86583;
    border: 2px solid #E86583;
    border-radius: 10px;
    padding: 12px 24px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.action-button:hover {
    background-color: #E86583;
    color: #ffffff;
    transform: scale(1.05);
}

@media (max-width: 1200px) {
    .action-button {
        font-size: 18px;
        padding: 10px 20px;
    }
}

@media (max-width: 992px) {
    .action-button {
        font-size: 16px;
        padding: 8px 16px;
    }
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-item {
    flex: 0 0 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-item p {
    font-style: italic;
    color: #3a3a3a;
    font-family: 'Playfair Display', serif;
}

.footer {
    background-color: #f9f6f7;
    padding: 20px;
    text-align: center;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-text {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
    margin-bottom: 10px;
    line-height: 1.4;
}

.footer-credits {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.footer-credits p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #3a3a3a;
    margin: 0;
}

.instagram-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #E86583;
}

.instagram-link:hover {
    text-decoration: underline;
}

.instagram-icon {
    width: 24px;
    height: auto;
    margin-left: 5px;
    transition: transform 0.3s;
}

.instagram-link:hover .instagram-icon {
    transform: scale(1.1);
}
