body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f6f7;
    color: #3a3a3a;
    overflow-x: hidden;
    /* Impede o scroll horizontal */
}

.container {
    position: relative;
    z-index: 1;
    margin: auto;
    /* Centraliza o container */
    margin-left: 40vw;
    /* Move o container mais para a direita */
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.profile-photo-wrapper {
    position: fixed;
    top: 40vh;
    left: 10vw;
    /* Ajustado para afastar do canto esquerdo */
    width: 30vw;
    /* Ajusta a largura da foto para desktop */
    height: 100vh;
    /* Ajusta a altura da foto para desktop */
    transform: translateY(-50%);
    /* Ajusta o deslocamento vertical */
    z-index: -1;
    overflow: hidden;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-name {
    font-size: 36px;
    /* Ajusta o tamanho da fonte para desktop */
    font-family: 'Playfair Display', serif;
    color: #6b4f4f;
    background: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 15px;
    margin-top: 220px;
    /* Ajusta a distância da foto */
    position: relative;
    z-index: 1;
    text-shadow: none;
}

.profile-subtitle {
    font-size: 20px;
    /* Ajusta o tamanho da fonte para desktop */
    padding: 10px;
    color: rgba(0, 0, 0, 0.678);
    margin-top: 10px;
}

.destino {
    font-size: 1.5em;
    /* Ajusta o tamanho da fonte para desktop */
    color: black;
}

.options {
    position: relative;
    width: 60vw;
    /* Ajusta a largura para desktop */
    padding: 0;
    box-sizing: border-box;
}

.option {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 20px auto 30px auto;
    box-shadow: none;
    text-align: center;
    position: relative;
    transition: transform 0.3s, border-color 0.3s;
    box-sizing: border-box;
    width: calc(100% - 40px);
    /* Ajusta a largura das divs */
    max-width: 600px;
    /* Adiciona um limite máximo de largura */
    height: 250px;
    /* Ajusta a altura das divs */
    border: 2px solid #E86583;
    /* Borda rosa igual aos botões */
}

.option.catalogo,
.option.curso1,
.option.curso2,
.option.agendamento,
.option.feedbacks {
    margin-top: 20px;
    /* Adiciona espaço entre as opções */
    margin-bottom: 40px;
}

.option.catalogo {
    background-image: url('/images/desktop/image4.png');
}

.option.curso1 {
    background-image: url('/images/desktop/image2.png');
    margin-bottom: 40px;
    /* Aumenta o espaçamento abaixo do curso 1 */
}

.option.curso2 {
    background-image: url('/images/desktop/image1.png');
    margin-bottom: 40px;
    /* Aumenta o espaçamento abaixo do curso 2 */
}

.option.agendamento {
    background-image: url('/images/desktop/image3.png');
}

.option:hover {
    transform: scale(1.02);
}

.option img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-title {
    font-size: 1.5em;
    /* Ajusta o tamanho da fonte para desktop */
    font-family: 'Playfair Display', serif;
    color: #6b4f4f;
    margin: 40px 0;
    position: relative;
    text-align: center;
    padding: 0 40px;
    /* Ajusta o espaçamento interno para desktop */
}

.section-title::before,
.section-title::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    margin: 0;
    background-color: #6b4f4f;
    transform: translateY(-50%);
}

.section-title::before {
    left: 0;
    width: 10%;
    /* Ajusta o tamanho da linha para desktop */
    margin: 0% 50% 0% 20%;
}

.section-title::after {
    right: 0;
    width: 10%;
    /* Ajusta o tamanho da linha para desktop */
    margin: 0% 20% 0% 20%;
}

.button-container {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.action-button {
    background-color: #ffffff;
    color: #E86583;
    border: 2px solid #E86583;
    border-radius: 10px;
    padding: 12px 24px;
    /* Ajusta o padding para desktop */
    cursor: pointer;
    font-size: 20px;
    /* Ajusta o tamanho da fonte para desktop */
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.action-button:hover {
    background-color: #E86583;
    color: #ffffff;
    transform: scale(1.05);
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    padding: 20px;
    /* Ajustado para desktop */
    box-sizing: border-box;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-item p {
    font-style: italic;
    color: #3a3a3a;
    font-family: 'Playfair Display', serif;
}