@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9f6f7;
    color: #3a3a3a;
}

.container {
    padding-top: 25vh;
    /* Ajustado para tablets */
    position: relative;
    z-index: 1;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.profile-photo-wrapper {
    position: fixed;
    top: -120px;
    /* Ajuste para tablets, ajusta a posição da foto */
    left: 50%;
    width: 50vw;
    /* Ajuste para tablets */
    height: 50vh;
    /* Ajuste para tablets */
    transform: translateX(-50%);
    /* Centraliza horizontalmente */
    z-index: -1;
    overflow: hidden;
    transition: filter 1s, transform 1s;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CSS Tablet */
@media (max-width: 1024px) and (min-width: 768px) {
    .profile-photo-wrapper {
        top: -50px;
        /* Ajuste para posicionar mais acima na página */
    }


    .profile-photo.blurred {
        filter: blur(2px);
        /* Aplica desfoque */
    }
}

.profile-photo.shrink {
    transform: scale(1);
    transition: 0.1s;
}

.profile-name {
    font-size: 30px;
    /* Ajustado para tablet */
    font-family: 'Playfair Display', serif;
    color: #6b4f4f;
    background: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 15px;
    margin-top: 250px;
    /* Ajusta a distância da foto */
    position: relative;
    z-index: 1;
    text-shadow: none;
}

.profile-description {
    font-size: 20px;
    /* Ajustado para tablet */
    color: #6b4f4f;
    margin-top: 20px;
}

.profile-subtitle {
    font-size: 20px;
    /* Ajustado para tablet */
    color: rgba(0, 0, 0, 0.678);
    margin-top: 10px;
    padding: 10px;
}

.destino {
    font-size: 1.2em;
    /* Ajustado para tablets */
    color: black;
}

.options {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
}

.option {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
    margin: 20px auto;
    box-shadow: none;
    text-align: center;
    position: relative;
    transition: transform 0.3s, border-color 0.3s;
    box-sizing: border-box;
    width: calc(100% - 40px);
    /* Diminui a largura das divs */
    max-width: 600px;
    /* Adiciona um limite máximo de largura */
    height: 250px;
    /* Aumenta a altura das divs */
    border: 2px solid #E86583;
    /* Borda rosa igual aos botões */
    overflow: hidden; /* Garante que a imagem não ultrapasse os limites da div */
    border-radius: 15px;


}

.option.catalogo,
.option.curso1,
.option.curso2,
.option.agendamento,
.option.feedbacks {
    margin-top: 20px;
    /* Adiciona espaço entre as opções */
    margin-bottom: 40px;
}

.option.catalogo {
}

.option.curso1 {
    margin-bottom: 40px;
    /* Aumenta o espaçamento abaixo do curso 1 */

}

.option.curso2 {
    margin-bottom: 40px;
    /* Aumenta o espaçamento abaixo do curso 1 */

}

.option.agendamento {
}

.option:hover {
    transform: scale(1.02);
}

.option img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha a div */
    border-radius: 15px; /* Certifique-se de que a borda arredondada seja aplicada à imagem */

}

.section-title {
    font-size: 1.3em;
    /* Ajustado para tablet */
    font-family: 'Playfair Display', serif;
    color: #6b4f4f;
    margin: 40px 0;
    position: relative;
    text-align: center;
    padding: 0 20px;
    /* Ajusta o espaçamento interno */
}

.section-title::before,
.section-title::after {
    content: '';
    position: absolute;
    top: 50%;
    height: 1px;
    margin: 0;
    background-color: #6b4f4f;
    transform: translateY(-50%);
}

.section-title::before {
    left: 0;
    width: 15%;
    /* Ajusta o tamanho da linha para tablets */
}

.section-title::after {
    right: 0;
    width: 15%;
    /* Ajusta o tamanho da linha para tablets */
}

@media (max-width: 1024px) and (min-width: 768px) {

    .section-title::before,
    .section-title::after {
        width: 20%;
        /* Ajusta o tamanho da linha para tamanhos de tablets menores */
        margin: 0px 10% 0px 10%;
    }
}

@media (max-width: 768px) {

    .section-title::before,
    .section-title::after {
        width: 10%;
        /* Ajusta o tamanho da linha para tablets menores */
    }
}

.button-container {
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    top: 84%;
}

.action-button {
    background-color: #ffffff;
    color: #E86583;
    border: 2px solid #E86583;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    display: inline-block; /* Garante que o botão seja exibido corretamente */
}

.action-button:hover {
    background-color: #E86583;
    color: #ffffff;
    transform: scale(1.05);
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 100%;
    padding: 20px;
    /* Ajustado para tablet */
    box-sizing: border-box;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.carousel-item p {
    font-style: italic;
    color: #3a3a3a;
    font-family: 'Playfair Display', serif;
}